:root{
    --light: #fff;
    --dark: #000;
}

$clr-light: var(--light);
$clr-dark: var(--dark);

$clr-accent: #ff7906;
$clr-primary: #131313;
$clr-secondary: #222222;
$clr-darkblue: #171F2F;

$clr-white: #fff;

$sm: "42rem";
$md: "92rem";
$lg: "144rem";
$xl: "180rem";